<p><b>Name:</b> <%= user.name %></p>
<p><b>Surname:</b> <%= user.surname %></p>
<p><b>Username:</b> <%= user.username %></p>
<p><b>Email:</b> <%= user.email %></p>
<p><b>About:</b> <%= user.about %></p>
<%= link_to 'Show', user %>
<%= link_to 'Edit', edit_user_path(user) %>
<%= button_to 'Delete', user, :confirm => "Are you sure?", :method => :delete %>