<h3>Sign Up</h3>

<%= semantic_form_for(@user) do |f| %>
  <%= f.inputs do %>
    <%=f.inputs :email, :password, :password_confirmation %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
  <% end %>
<% end %>
<br>
<%= link_to 'Back', users_path %>

