<p></p><b>Event Name:</b> <%= link_to event.event_name, event %>
<p></p><b>Event Location:</b> <%= event.location %>
<p></p><b>Start:</b> <%= event.start_time %>
<p></p><b>End:</b> <%= event.end_time %>
<p></p>
<%= link_to 'Edit', edit_event_path(event) %> |
<%= link_to 'Delete', event_path(event), confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Suggest Music', suggest_event_url(event)%> |
<%= link_to 'Rank Music', rank_event_url(event)%>
<br></br>