<%= semantic_form_for(@event) do |f| %>
  <%= f.inputs do %>
    <%=f.input :location, :as => :wrapped_string %>
    <%=f.input :start_time, :as => :datetime %> 
    <%=f.input :end_time, :as => :datetime %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
  <% end %>
<% end %>

<div class="field">
  Suggested Music:<br /><br />
  <% Cd.all.each do |cd| %>
    <%= cd.album_name %> <!--label for the checkbox-->
    <%= check_box_tag :cd_ids, cd.id, @event.cds.include?(cd), :name => 'event[cd_ids][]'%><br />
  </div>
  <% end %>
  
