<p id="notice"><%= notice %></p>

  <b>Event Name:</b>
  <%= @event.event_name %>

<p></p>
  <b>Location:</b>
  <%= @event.location %>

<p></p>
  <b>Start:</b>
  <%= @event.start_time %>

<p></p>
  <b>End:</b>
  <%= @event.end_time %>

<br>
<br>

<b>Suggested Music For This Event</b><br/>
	<% for cd in @event.cds %>
		<%= cd.album_name %> - <%= cd.artist %>
		<br/>
	<% end %>
<br>

<b>Top Three Ranked Music</b><br>
  <%= @event.top_three_rankings %>
<br>
<br>
<%= (@current_user.role == true ? (link_to 'Edit', edit_event_path(@event)): "") %> 
<%= link_to 'Back', events_path %> 
<%= link_to 'Suggest Music', suggest_event_url(@event) %> 
<%= link_to 'Rank Music', rank_event_url(@event) %> 