<h1><%= link_to @event.event_name, @event %></h1>
<%= semantic_form_for :suggestions, :url => suggest_event_url(@event), :html => {:method => :post} do |f| %>

	C U R R E N T L Y ♫ S U G G E S T E D ♫ M U S I C <br></br>
		<% for cd in @event.cds %>
			<%= cd.album_name %> - <%= cd.artist %><br>
		<% end %>
	
	<br>
	M U S I C ♫ T O ♫ S U G G E S T<br></br>
	<%= f.inputs do %>
		 <%= f.input :cds, :as => :check_boxes, :collection => Hash[Cd.all.map{|cd| [cd.album_name, cd.id]}] %>
	<% end %>

	<%= f.actions do %> 
		<%= f.action  :submit, :as => :button %>
	<% end %>
	<br></br>
	<%= link_to 'Back', events_path %>
	<% end %>

		