<header class="navbar navbar-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Music Exchange", '/home', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= (@current_user ? (link_to @current_user.email, '/users/' + session[:user_id].to_s + '/edit') : "") %></li>
              <li><%= link_to "Log In", '/login'%></li>
              <li><%= (@current_user ? (link_to "Logout", '/logout'): "" ) %></li>
              <li><%= link_to "Sign Up", '/signup' %><li>
            </ul>
            <ul class="nav pull-left">
           	 <li><%= link_to "Events", '/events' %></li>
             <li><%= link_to "CDs", '/cds' %></li>
            </ul>
          </nav>
        </div>
      </div>
</header>