<p id="notice"><%= notice %></p>

<p></p>
  <b>LP/EP/Mix Name:</b>
  <%= @cd.album_name %>

<p></p>
  <b>Artist:</b>
  <%= @cd.artist %>
<p></p>


<%= link_to 'Edit', edit_cd_path(@cd) %> |
<%= link_to 'Back', cds_path %>
