<!DOCTYPE html>
<html>
<head>
  <head>  
  <title><%= h(yield(:title) || "Music Exchange") %></title>  
  <%= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes' %> 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :header %>  
</head>  
</head>
<body>
<%= render 'shared/header' %>
    <div class="container">
<%= yield %>
<%= render 'shared/footer' %>
</div> 
</div>

</body>
</html>
