<!DOCTYPE html>
<html>
<head>
  <head>  
  <title><%= h(yield(:title) || "Music Exchange") %></title>  
  <%= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes' %> 
  <%= javascript_include_tag "application" %>
  <%= yield :head %>  
</head>  
</head>
<body>
<%= render 'layouts/header' %>
    <div class="container">
<%= render 'layouts/footer' %>
	<div class="container">
<%= yield %>

</body>
</html>
